// ==========================
$main_nav_clr: #fff;
$link_hover_clr: #009c34;
$black_clr: #000000b6;
$font_1: "Averia Serif Libre", cursive;
$font_2: "Lobster", cursive;
$font_3: "Permanent Marker", cursive;
// ==========================

.recipesWrapper {
  padding-top: 100px;

  .header {
    display: flex;
    justify-content: center;
    padding: 10px;
    h1 {
      font-size: 50px;
      text-transform: uppercase;
      color: transparent;
      font-family: $font_3;
      letter-spacing: 5px;
      -webkit-text-stroke: 2px $link_hover_clr;
      text-decoration: underline;
    }
  }
}

@media (max-width: 550px) {
  .recipesWrapper {
    padding-top: 140px;
  }
}
