@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
//
$main_font_family: "Righteous", cursive;
$Abel_font: "Abel", sans-serif;
$main_clr: rgb(233, 59, 59);
$para_clr: rgb(110, 108, 108);
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.NAVBAR {
  background: #fff;
  padding: 0 !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
#MATERIAL_BUTTON {
  color: $main_clr;
  border: 2px solid $main_clr;
  outline: none;
  background: transparent;
  border-radius: 20px;
  margin: auto 10px;
}
.NAVBAR_BRAND {
  color: $main_clr !important;
  font-size: 40px !important;
  font-family: $main_font_family !important;
}
//
//
// custom Components
.MainScreen {
  width: 100%;
  height: auto;
  padding: 30px 0;
  .row {
    .leftCorner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-family: $main_font_family;
        font-size: 100px;
        color: $main_clr;

        img {
          width: 120px;
          height: 120px;
          margin-bottom: 10px;
          animation: rotation 20s linear infinite;
        }
        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
      h3 {
        color: $main_clr;
        font-size: 25px;
      }
    }
    .rightCorner {
      h1 {
        font-family: $main_font_family;
        font-size: 35px;
        color: $main_clr;
      }
      p {
        text-align: justify;
        color: $para_clr;
        span {
          font-size: 25px;
          color: $main_clr;
        }
      }
    }
  }
}
.CountingScreen {
  width: 100%;
  height: auto;

  .HEADER {
    position: relative;
    h1 {
      text-align: center;
      font-family: $main_font_family;
      font-size: 50px;
      color: #fff;
      padding: 10px 0;
      background: $main_clr;
      border-radius: 50px;
    }
    .threeDots {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80px;
      top: 0;
      right: 0;
      height: 90%;

      .moreVert {
        color: #fff;
        font-size: 50px !important;
        cursor: pointer;
        outline: none;
      }
    }
  }
  .renderBoxes {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(257, 59, 59, 0.5);
    border-radius: 20px;
    margin: 10px;

    h1 {
      font-family: $Abel_font;
      font-size: 65px;
      margin: 0;
    }
    p {
      font-family: $main_font_family;
      font-size: 36px;
      color: rgb(110, 108, 108);
      margin: 0;
    }
  }
}
.renderBoxes4,
.renderBoxes5 {
  border: 5px solid rgb(12, 160, 12);
  h1 {
    color: rgb(12, 160, 12);
  }
}
.renderBoxes2,
.renderBoxes3 {
  border: 5px solid rgb(159, 177, 0);
  h1 {
    color: rgb(159, 177, 0);
  }
}
.renderBoxes0,
.renderBoxes1 {
  border: 5px solid rgb(190, 11, 11);
  h1 {
    color: rgb(190, 11, 11);
  }
}
.Graph {
  width: 100%;
  height: auto;
  padding: 30px 20px;

  .indexHead {
    h1 {
      text-align: center;
      font-family: $main_font_family;
      font-size: 50px;
      color: #fff;
      padding: 10px 0;
      background: $main_clr;
      border-radius: 50px;
      text-transform: uppercase;
    }
  }
}
.Footer {
  width: 100%;
  height: auto;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;

  .info {
    h2 {
      font-size: 18px;
      color: #fff;
      font-family: $main_font_family;
      letter-spacing: 2px;
      margin: 0;
    }
  }
  .Social_ICons {
    width: auto;
    height: 100%;

    .ICO {
      margin: 0 10px;
      color: #fff;
      cursor: pointer;
    }
    .ICO1 {
      font-size: 30px;
      :hover {
        color: #3b5998;
      }
    }
    .ICO2 {
      font-size: 25px;
    }
  }
}
//
/*  */
/*  */
/*  */
@media (max-width: 1020px) {
  .leftCorner {
    h1 {
      font-size: 90px !important;
    }
    img {
      width: 100px !important;
      height: 100px !important;
    }
  }
  .HEADER,
  .indexHead {
    h1 {
      font-size: 40px !important;
    }
    .moreVert {
      font-size: 40px !important;
    }
  }
  .renderBoxes {
    h1 {
      font-size: 55px !important;
    }
    p {
      font-size: 28px !important;
    }
  }
}
@media (max-width: 991px) {
  .navbar-nav > li {
    margin: 0.25rem 0;
  }
  .renderBoxes {
    h1 {
      font-size: 45px !important;
    }
    p {
      font-size: 22px !important;
    }
  }
}
@media (max-width: 767px) {
  .leftCorner {
    align-items: flex-start !important;
  }
  .renderBoxes {
    h1 {
      font-size: 50px !important;
    }
    p {
      font-size: 25px !important;
    }
  }
  .HEADER,
  .indexHead {
    h1 {
      font-size: 30px !important;
    }
    .threeDots {
      width: 60px !important;

      .moreVert {
        font-size: 30px !important;
      }
    }
  }
  .Footer {
    padding: 10px 20px;
    .info {
      h2 {
        font-size: 16px;
      }
    }
    .Social_ICons {
      .ICO {
        margin: 0 7px;
      }
      .ICO1 {
        font-size: 26px;
      }
      .ICO2 {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 476px) {
  .leftCorner {
    h1 {
      font-size: 55px !important;
    }
    img {
      width: 70px !important;
      height: 70px !important;
    }
  }
  .rightCorner {
    padding-top: 20px;
    h1 {
      font-size: 25px !important;
    }
    p {
      span {
        font-size: 18px !important;
        font-weight: bold;
      }
    }
  }
  .Graph {
    padding: 20px 10px !important;
  }
  .HEADER,
  .indexHead {
    h1 {
      font-size: 24px !important;
    }
    .threeDots {
      width: 52px !important;
    }
  }
  .Footer {
    padding: 10px 20px;
    .info {
      h2 {
        font-size: 14px;
        letter-spacing: 0 !important;
      }
    }
    .Social_ICons {
      .ICO {
        margin: 0 5px;
      }
      .ICO1 {
        font-size: 22px;
      }
      .ICO2 {
        font-size: 20px;
      }
    }
  }
}
